<mat-card fxLayout="column" fxLayoutAlign="center center">
  <mat-card-title>
    <p>Register</p>
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="registerForm"  (ngSubmit)= "onSubmit()">
      <div fxLayout="column">
        <mat-input-container>
          <input matInput formControlName="username" placeholder= "username" type="text" required  name="username">
        </mat-input-container>
        <mat-input-container>
          <input matInput formControlName="password" placeholder= "password" type="password" required  name="password">
        </mat-input-container>
        <mat-input-container>
          <input matInput formControlName="telNum" placeholder="telNum" type="tel" required>
        </mat-input-container>
        <mat-input-container>
          <input matInput formControlName="email" placeholder="Email" required type="Email">
        </mat-input-container>
        <mat-input-container >
          <input matInput formControlName="street" placeholder="street" type="text">
        </mat-input-container>
        <mat-checkbox formControlName="agree" name="agree">
          I agree
        </mat-checkbox>
      </div>
      <mat-card-actions >
        <button type= "submit" mat-raised-button color="primary" [disabled]= "registerForm.invalid">Register</button>
        <button type="button" mat-raised-button color="primary" (click)="cancel()">Cancel</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
