<mat-card fxLayout="column" fxLayoutAlign="center center">
  <mat-card-title>
    <p>Login</p>
  </mat-card-title>
  <mat-card-content>
    <form novalidate #loginForm="ngForm" (ngSubmit)= "onSubmit()">
       <div fxLayout="column">
          <mat-input-container>
            <input matInput placeholder= "username" type="text" #username="ngModel" required [(ngModel)]= "user.username" name="username">
          </mat-input-container>
          <mat-input-container>
            <input matInput placeholder= "password" type="password" #password = "ngModel" required [(ngModel)]= "user.password" name="password">
          </mat-input-container>
          <mat-checkbox [(ngModel)]= "user.remember" name="remember">
            Remember Me
          </mat-checkbox>
        </div>
      <mat-card-actions class="flex-spacer">
        <button type= "submit" mat-raised-button color="primary" [disabled]= "loginForm.form.invalid">Login</button>
        <button type="button" mat-raised-button color="primary" (click)="register($event)">Register</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
