
  <mat-toolbar color="primary">
    <mat-icon class="menu-icon">menu</mat-icon>
    <span class="flex-spacer"></span>
    <span>Dabba Wala</span>
    <span class="flex-spacer"></span>
    <mat-icon class="menu-icon">perm_identity</mat-icon>
  </mat-toolbar>

